@font-face {font-family: Shentox; src: url(/font/shentox-medium.woff2);}
@font-face {font-family: Graphik; src: url(/font/Graphik-Regular-Web.woff2);}
@font-face {font-family: TNW Avalon; src: url(/font/tnw-avalon-bold.woff2);}
@font-face {font-family: Trump; src: url(/font/trump-soft-pro-bold.woff2);}