@mixin flex($direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin article ($grid-row, $image) {
    grid-row: $grid-row;
    background-image: url($image);
    background-size: cover;
}