@mixin flex($direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin article ($grid-row, $image) {
    grid-row: $grid-row;
    background-image: url($image);
    background-size: cover;
}

@mixin article-mobile ($grid-row, $grid-column) {
    grid-row: $grid-row;
    grid-column: $grid-column;
}

@mixin tablet-breakpoint {
    @media (max-width: $tablet-breakpoint) { @content; }
}

@mixin mobile-breakpoint {
    @media (max-width: $mobile-breakpoint) { @content; }
}