$header-text-color-active: #1f1f1f;
$header-color: #f7f8f8;
$header-yellow-color: #fd3;

$font-stack: Graphik, sans-serif;
$font-stack2: Shentox, sans-serif;
$font-stack3: TNW Avalon, sans-serif;
$font-stack4: Trump, sans-serif;

$max-width: 95rem;

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 768px;